.search-container{
    display: flex;
    padding: 20px 20px;
    background-color:  rgb(39, 57, 98);
    justify-content: left;
}

input{
    all:unset;
    flex-grow: 1;
}

button{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(189, 200, 245);
    cursor:pointer;
}

.search{
    padding: 10px;
    width: 300px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}