.movie-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FEC606;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

img{
    height: 300px;
    border-radius: 20px;
    margin: 20px;
}

span{
    color: brown;
    font-weight: bold;
    display: inline-block;
    width: 180px;
}

button{
    background-color: black;
    color: #FEC606;
    border-radius: 10px;
    padding: 2px 10px;
    cursor: pointer;
}
 button:disabled {
    background-color: grey;
    color:darkgray;
    cursor: not-allowed;
 }