
.movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 40px 20px;
    background-color: rgb(25, 37, 63);
    min-height: 100vh; 
}

.movie-card {
    width: 280px; 
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 123, 209);
    overflow: hidden;
    cursor: pointer; 
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease;
}


.movie-card:hover {
    transform: scale(1.05) translateY(-5px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.455); 
    z-index: 2; 
}


.movie-poster {
    width: 100%;
    height: 400px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.details {
    padding: 15px; 
    text-align: center;
    background-color: rgb(87, 123, 209); 
}

.details h2 {
    margin: 0;
    font-size: 1.1rem; 
    color: rgb(25, 37, 63);
    font-family: sans-serif; 
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}